= form_for(@documentary, method: :patch) do |f|
  = link_to("Destroy", documentary_path(@documentary), method: :delete, |
    class: "small button alert") if can?(:destroy, @documentary)        |
  = render(partial: "form", locals: {f: f})
  = f.submit("Save Changes")
